{% extends 'gram/base.html' %}

{% block content%}

<div class="container profile">

        <div class="col-md-9">
            <div class="row details mt-4">
                <div class=" col-md-4">

                    <img class="profilePic" src="{{userProfile.profile_pic.url}}" alt="" height="150rem" width="150rem"
                        style="border-radius: 50%;">

                </div>
                <div class="col-md-8 userDetails">
                    <div class="n mb-3 d-flex">
                        <span class="me-3">{{userProfile.user.username}}</span>

                        
                        {% if request.user != userProfile.user %}

                            {% if follow %} 
                            <button class="message me-1">Message</button>

                            <form method="post" action="{% url 'follow_actions'%}">
                                {%csrf_token%}
                                <input hidden name="userProf_id" value="{{userProfile.user.id}}">
                                <button class="unfollow">Unfollow</button>

                            </form>



                            {% else %}
                            <form method="post" action="{% url 'follow_actions'%}">
                                {%csrf_token%}
                                <input hidden name="userProf_id" value="{{userProfile.user.id}}">
                                <button class="btn btn-sm btn-primary" type="submit"> follow</button>
                            </form>

                           

                            {% endif %}

                        {% else %}
                        <button class="edit-profile" data-bs-toggle="modal" data-bs-target="#profUpdateModal">Edit profile</button>

                            {% include "modals/updateProfileModal.html" %}

                        {% endif %}


                    </div>
                    <div class="d mb-3">
                        <span class="me-3"><strong>{{images.count}} </strong>posts</span>
                        <span class="me-3"><strong>{{userProfile.followers.count}} </strong>followers</span>
                        <span class="me-3"><strong>{{userProfile.following.count}} </strong>following</span>

                    </div>
                    <div class="name">
                        <h6>{{ userProfile.user.first_name}} {{ userProfile.user.last_name }}</h6>
                        <p class="text-muted ">{{userProfile.bio}}</p>
                    </div>



                </div>
            </div>

            <div class="col-md-12 userPosts mt-5">
                <hr class="mt-6">
                <div class="nav mb-3">
                    <span class="me-4">POSTS</span>
                    <span class="me-4">IGTV</span>
                    <span class="me-4">SAVED</span>
                    <span class="me-4">TAGGED</span>

                </div>
                <div class=" userposts">
                    {% for image in images %}

                    <a href="{% url 'comment' image.id%}"><img class="mb-3" src="{{image.image.url}}" alt="" style="width: 19rem; height: 19rem;"></a>



                    {%endfor%}


                </div>


            </div>





    </div>

</div>



{% endblock%}