{% extends 'gram/base.html'%}
{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% load static%}


{% block content%}



<div class="container index">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#imagePostModal">
        Make a Post
    </button>

    {% include "modals/imagePostModal.html" %}


    {% for image_post in images %}
        <div class="col-md-7 card-holder">
            
            <div class="card imagePostCard mt-3" style="width: 45rem;">
                <div class="header">
                    <img src="{{image_post.posted_by.profile_pic.url}}" class="m-3" height="40"  width="40"  style="border-radius: 50%;" alt="...">
                    {% if request.user == image_post.posted_by %}
                        <a href="{% url 'profile' image_post.posted_by %}"><h6>{{image_post.posted_by}}</h6></a>
                    {% else %}
                        <a href="{% url 'userProfile' image_post.posted_by %}"><h6>{{image_post.posted_by}}</h6></a>
                    {% endif %}
                </div>
                    
            
                <a href="{% url 'comment' image_post.id %}"><img src="{{image_post.image.url}}" style="max-height: 25rem;" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="post-icons d-flex" id="post-icons">
                        <form action="{% url 'post_like' image_post.pk %}" method="post">
                            {% csrf_token %}
                            {% if profile in image_post.likes.all %}
                                <button class ='btn btn-danger' type="submit" name = 'image_post_id' value="{{image_post.id}}">
                                  <i class="far fa-heart mt-2 " style="font-size: 20px;"></i>  
                                  <!-- <img src="{% static 'images/likee.png' %" alt="" width="43"> -->
                              
                                </button>
                                                    
                                {% else %}
                                <button class = 'btn' type="submit" name = 'image_post_id' value="{{image_post.id}}" >
                                  <!-- <img src="{% static 'images/like.jpg' %}" alt="" width="43"> -->
                                  <i class="far fa-heart mt-2"  style="font-size: 23px;"></i>                          
                                </button>
                                <!-- {{image_post.likes.all}} -->
      
                            {% endif %}
                            
                        </form>
                        
                    
                        <a href="{% url 'comment' image_post.id%}"><img src="{% static 'images/commentIcon.jpg' %}"  alt="" width="43"></a>
                        <a href=""><img src="{% static 'images/send.jpg' %}"  alt="" width="43"></a>
                        
                    </div>
                    <div class="liked-by">
                        {{image_post.likes.count}} likes
                        <p class="fw-light">Liked by {{image_post.like.user}}</p>

                        {% for likers in image_post.likes.all %}
                         <p>{{likers.likes}}</p>

                        {% endfor %}
                    </div>
                    <div class="details"> 

                        <a href="{% url 'userProfile' image_post.posted_by %}"><h6>{{image_post.posted_by}}</h6></a>
                        <p class="card-text">{{image_post.image_caption}}</p> 
                    </div>
                    
                    <div class="post-comments">
                        {% if image_post.comments.all %}
                        <p class="text-muted fw-light">view all {{image_post.comments.all.count}} comments</p>
                        {% endif %}
                        {% for comment in image_post.comments.all %}
                        <div class="details">
                            <a href="{% url 'userProfile' comment.posted_by %}"><h6>{{comment.posted_by}}</h6></a>
                            <p class="card-text fw-light">{{comment.comment}}</p> 
                        </div>
                        
                        
                        {% empty %}
                        {% endfor %}

                        <div class="time">
                            <p class="text-muted fw-light">{{image_post.posted_on| timesince}} AGO</p>
                        </div>
                    </div>
                
                            
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <form action="{% url 'post-comment' image_post.pk %}" method="post" class="d-flex">
                            {% csrf_token %}
        
        
                            {% bootstrap_form cForm%}
        
                            
        
                            <button class="btn btn-sm btn-success ms-1" style="height: 40px; margin-top: 30px;">Comment</button>
                            
                        </form>
                    </li>
                </ul>

                
            </div>

        </div>

    {% empty %}
    <div class="row">
        <h6 class="text-center">There No Image Items</h6>
    </div>

    {%endfor%}


</div>

{% endblock %}