{% extends 'gram/base.html'%}

{% block content%}

<div class="container">
    {% for image_post in images %}
    <div class="col-md-8">
        <div class="card imagePostCard mt-3" style="width: 45rem;">
            <div class="header">
                <img src="{{image_post.posted_by.profile_pic.url}}" class="m-3" height="40"  width="40"  style="border-radius: 50%;" alt="...">
                <a href=""><h6>{{image_post.posted_by}}</h6></a>
            </div>
                
         <!-- <a class="" href=""><img src="{{image_post.image.url}}" style="height: 24rem;  width: 50rem;" alt="" /></a> -->
          
            <img src="{{image_post.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="details">
                    <a href=""><h6>{{image_post.posted_by}}</h6></a>
                    <p class="card-text">{{image_post.image_caption}}</p> 
                </div>
                           
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p>Add a comment</p>
                </li>
            </ul>
            <!-- <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div> -->
          </div>

    </div>

    {% empty %}
    <div class="row">
        <h6 class="text-center">There No Image Items</h6>
    </div>

    {%endfor%}

</div>

{% endblock %}