{% load static%}

{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a href="{% url 'home' %}"><img src="{% static 'images/logo.svg.png' %}" alt="" width="110rem" class="D-block mx-auto"></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form class="d-flex" style="margin-left: 30%;"  role="search" action="{% url 'search_user'%}">
        <input class="form-control me-2" type="search" name="username"  placeholder="Search" aria-label="Search">
        <!-- <button class="btn btn-outline-danger" type="submit" >Search</button> -->
      </form>
      <!-- data-bs-toggle="modal" data-bs-target="#searchUserModal" -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a href="{% url 'home' %}"><img src="{% static 'images/instahome.png' %}" alt="" width="30rem" class="D-block mx-auto"></a>
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item">
            <a href="{% url 'home' %}"><img src="{% static 'images/like.jpg' %}" alt="" width="40rem" class="D-block mx-auto"></a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="nav-profile" src="{{request.user.profile_pic.url}}" alt="">
              {{request.user}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'profile' user.username %}">Profile</a></li>
              <li><a class="dropdown-item" href="/accounts/password/change">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{%url 'logout'%}">Logout</a></li>
            </ul>
          </li> 
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>

  {% else %}
  <li>
    <a class='btn btn-default' href="/accounts/login">Login</a>

  </li>

{% endif %}

<div class="instaicon disc"></div>
            <div class="instaicon like"></div>