{% extends 'gram/base.html'%} 
{% load static %}
{% load bootstrap5 %}


{% block content%}

<div class="container singlePost">
  <div class="col-md-10 mt-5">
      <div class="row">
          <div class="col-md-7">
              <div class="post">
                <img src="{{image.image.url}}" class="col-md-12 img-responsive" alt="Image">
              </div>
              <div class="empty">

              </div>
              
          </div>
          <div class="col-md-5 ">
              <div class="postDetails">
                  <h6>{{image.posted_by}}</h6>
                  <hr>
                  <h6 class="text--center mb-4">{{image.posted_by}}<span class="ms-1 text--primary fw-light">{{image.image_caption}}</span></h6>

                  <p class="small">{{image.posted_on|timesince}} ago</p>
                  {% for comment in image.comments.all %}
                    <div class="comments">
                      <h6 class="text--center mb-4">{{comment.posted_by}}<span class="ms-1 text--primary fw-light">{{comment.comment}}</span></h6>
                    </div>
                  {% empty %}
                  <p>no comments</p>
                  {% endfor %}
                  
                  <hr>
                  <div class="post-icons d-flex">
                    <form action="{% url 'post_like' image.pk %}" method="post">
                      {% csrf_token %}
                      {% if profile in image.likes.all %}
                          <button class ='btn btn-danger' type="submit" name = 'image_post_id' value="{{image.id}}">
                            <i class="far fa-heart "></i>  
                            <!-- <img src="{% static 'images/likee.png' %" alt="" width="43"> -->
                        
                          </button>
                                              
                          {% else %}
                          <button class = 'btn' type="submit" name = 'image_post_id' value="{{image.id}}" >
                            <!-- <img src="{% static 'images/like.jpg' %}" alt="" width="43"> -->

                            <i class="far fa-heart"></i>                          
                          </button>
                          {{object.likes.all}}

                      {% endif %}
                      
                  </form>
                    <!-- <img src="{% static 'images/like.jpg' %}" alt=""  width="40"> -->
                    <a href=""><img src="{% static 'images/commentIcon.jpg' %}"  alt="" width="40" style="border: none;"></a>
                  </div>
                  {{image.likes.count}} likes  

                  <hr>
                  <form action="" method="post" class="d-flex">
                    {% csrf_token %}


                    {% bootstrap_form cForm%}

                    

                    <button class="btn btn-sm btn-success ms-1" style="height: 40px; margin-top: 7%;">Post</button>
                    
                </form>

              </div>

          </div>
      </div>


  
  </div>
</div>

{% endblock %}
