.navbar{
    background-color:white !important;
}




.image-card{
    margin: 1rem;
    
}



.login{
    display: flex;
    justify-content: center;
    margin-top: 8%;
    /* align-items: center; */
}

.getApp{
    text-align: center;
    margin-top: 3%;
}

.signup-here{
    text-align: center;
    margin-top: 2%;
}

.icons{
    display: flex;
    justify-content: center;
}


/* INDEX */


.imagePostCard .header{
    display: flex !important;

}

.imagePostCard .header a{
    text-decoration: none;
    color: black;
    margin-top: 4%;
}


.imagePostCard .details{
    display: flex !important;

}

.imagePostCard .details a{
    text-decoration: none;
    color: black;
    margin: 3px;
}




input title{
    display: none
}

/* SINGLE POST */
.singlePost{
    display: flex;
    justify-content: center;
}

.singlePost .comments{
    display: flex !important;

}

.singlePost .comments 



a{
    text-decoration: none;
    color: black;
    margin: 3px;
}



/* MY PROFILE */

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





.nav{
    display: flex;
    justify-content: center;

}


