{% load bootstrap5 %}
  <!-- Modal -->
  <div class="modal fade" id="updateProfileModal" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Update your Profile</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="" method="post" novalidate enctype="multipart/form-data" class="mr-4 mt-4 ml-4 mb-4">
                    {% csrf_token%}
                    {% bootstrap_form prof_form%}


                    <button type="submit" class="btn btn-primary btn-sm"> Update Profile</button>
                </form>
              </div>
              <div class="modal-footer">
                  
                  <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Close
              </div>
          </div>
      </div>
  </div>